@model curso.Models.Customer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="Edit" class="needs-validation" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerId" />
            <div class="mb-3 form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NameStyle" /> @Html.DisplayNameFor(model => model.NameStyle)
                </label>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="Title" class="form-control" />
                <label asp-for="Title" class="form-label"></label>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="FirstName" class="form-control" />
                <label asp-for="FirstName" class="form-label"></label>
                <span asp-validation-for="FirstName" class="text-warning"></span>
                <span asp-validation-for="FirstName" class="invalid-feedback"></span>
                <span class="valid-feedback">OK</span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="MiddleName" class="form-control" />
                <label asp-for="MiddleName" class="form-label"></label>
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="LastName" class="form-control" />
                <label asp-for="LastName" class="form-label"></label>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="Suffix" class="form-control" />
                <label asp-for="Suffix" class="form-label"></label>
                <span asp-validation-for="Suffix" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="CompanyName" class="form-control" />
                <label asp-for="CompanyName" class="form-label"></label>
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="SalesPerson" class="form-control" />
                <label asp-for="SalesPerson" class="form-label"></label>
                <span asp-validation-for="SalesPerson" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="EmailAddress" class="form-control" />
                <label asp-for="EmailAddress" class="form-label"></label>
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="Phone" class="form-control" />
                <label asp-for="Phone" class="form-label"></label>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="PasswordHash" class="form-control" />
                <label asp-for="PasswordHash" class="form-label"></label>
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="PasswordSalt" class="form-control" />
                <label asp-for="PasswordSalt" class="form-label"></label>
                <span asp-validation-for="PasswordSalt" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="Rowguid" class="form-control" />
                <label asp-for="Rowguid" class="form-label"></label>
                <span asp-validation-for="Rowguid" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="ModifiedDate" class="form-control" />
                <label asp-for="ModifiedDate" class="form-label"></label>
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $.validator.setDefaults({
            errorClass: "is-invalid",
            validClass: "is-valid",
            highlight: function (element, errorClass) {
                element.setCustomValidity(this.errorMap[element.id])
                $(element.form).addClass('was-validated');
            },
            unhighlight: function (element, errorClass) {
                element.setCustomValidity('')
                $(element.form).addClass('was-validated');
            },

        });
        $.validator.unobtrusive.options = {
            errorClass: "is-invalid"
        };
        /*
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
        */
    </script>
}
